*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-container{
    width: 100%;
    display: flex;
}

img{
    width: 70%;
}

.left-side{
    border-right: 1px solid black;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.contact-btns i{
    font-size: 35px;
}

.contact-btns{
    display: flex;
    gap: 10px;
}

.download-cv{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.right-side{
    width: 60%;
}

.main-section{
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
}

.main-section p{
    font-size: 28px;
    text-align: left;
}

h1{
    font-size: 56px;
}

header{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 120px;
}

.left-header{
    display: flex;
    gap: 5px;
}

.right-header ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}