*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #f5feff;
    background: -webkit-linear-gradient(90deg, rgba(245, 254, 255, 1) 0%, rgba(250, 245, 245, 1) 50%, rgba(235, 250, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(245, 254, 255, 1) 0%, rgba(250, 245, 245, 1) 50%, rgba(235, 250, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(245, 254, 255, 1) 0%, rgba(250, 245, 245, 1) 50%, rgba(235, 250, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5FEFF", endColorstr="#EBFAFF", GradientType=1);
    width: 100%;
}

.main-container{
    width: 100%;
    display: flex;
}

img{
    width: 70%;
    box-shadow: -1px -1px 36px 0px rgba(156,141,141,0.75);
-webkit-box-shadow: -1px -1px 36px 0px rgba(156,141,141,0.75);
-moz-box-shadow: -1px -1px 36px 0px rgba(156,141,141,0.75);
}

.left-side{
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: fixed;
}

.contact-btns a{
    color: black;    
}

.contact-btns i{
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btns i:hover{
    color: #1D546C;
    transition: 0.3s;
}

.contact-btns{
    display: flex;
    gap: 10px;
}

.download-cv{
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 20px;
    text-decoration: none;
    color: #1D546C;
    border: 2px solid #1D546C;
    transition: 0.3s;
    font-weight: bold;
}

.download-cv:hover{
    color: white;
    background-color: #1D546C;
    transition: 0.3s;
}

.right-side{
    width: 60%;
    margin-left: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section{
    height: 100vh;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
}

.main-section p{
    font-size: 28px;
    text-align: left;
}

h1{
    font-size: 52px;
}

header{
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 120px;
    color: black;
    background-color: white;
}

.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.left-header p:nth-of-type(1){
    background-color: #1D546C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    color: white;
}

.left-header p:nth-of-type(2){
    font-weight: bold;
}

.right-header ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.right-header ul li a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
    color: black;
}

.right-header ul li a:hover{
    cursor: pointer;
    color: #1D546C;
    transition: 0.3s;
}

header .right-header ul li a.active {
    color: #1D546C;
}

#about {
    scroll-margin-top: 400px;
}

#certificates{
    scroll-margin-top: 20px;
}


.name{
    color: #1D546C;
    font-weight: bold;
}

.card{
    height: 50vh;
}

.about-text{
    font-size: 22px;
    text-align: justify;
    text-indent: 10px;
    padding: 0 50px;
}

.certificate-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0 30px 0;
}

.certificates-list img {
    display: none;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
}

.certificates-list img.active {
    display: block;
}

.btn {
    background: #1D546C;
    color: white;
    border: none;
    font-size: 32px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}

.cert-index {
    text-align: center;
    font-size: 18px;
    color: #1D546C;
    font-weight: 500;   
}

@media (max-width:425px){
    .main-container{
        flex-direction: column;
    }

    .left-side{
        width: 100%;
        position: static;
        height: 100vh;
    }

    .right-side{
        margin-left: 0;
        width: 100%;
        gap: 200px;
    }

    .main-section{
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 26px;
    }

    .download-cv{
        font-size: 22px;
    }

    .main-section p{
        font-size: 18px;
        padding: 20px;
        text-align: justify;
    }

    .about-text{
        font-size: 18px;
    }

    .certificate-slider{
        gap: 10px;
        padding: 100px 10px 30px 10px;
    }

    .btn{
        font-size: 16px;
        padding: 5px 8px;
    }

    header{
        font-size: 16px;
        padding: 10px;
    }

    .right-header ul{
        gap: 0;
    }

    #home{
        scroll-margin-top: 700px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .main-section{
        height: 150vh;
    }

    .right-side{
        width: 100%;
        margin-left: 500px;
        gap: 200px;
    }

    .left-side{
        height: 150vh;
    }

    body{
        background: #f5feff;
        background: -webkit-linear-gradient(90deg, rgba(245, 254, 255, 1) 0%, rgba(250, 245, 245, 1) 50%, rgba(235, 250, 255, 1) 100%);
        background: -moz-linear-gradient(90deg, rgba(245, 254, 255, 1) 0%, rgba(250, 245, 245, 1) 50%, rgba(235, 250, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5FEFF", endColorstr="#EBFAFF", GradientType=1);
    }
    
}